<template name="post_item">
  <article class="well post module {{rankClass}} {{#if sticky}}sticky{{/if}} {{inactiveClass}} {{_id}}">
           <!-- mobile devices -->
           <div class="row visible-xs-block" style="">
               <div class="col-xs-2">
                   {{#each [postUpVoteModule]}}
                        {{> UI.dynamic template=getTemplate data=..}}
                   {{/each}}
               </div>
               <div class="col-xs-8">
                   {{#each [postContentModule]}}
                        {{> UI.dynamic template=getTemplate data=..}}
                   {{/each}}
               </div>
               <div class="col-xs-2">
                   {{#each [postMoreModule]}}
                   {{> UI.dynamic template=getTemplate data=..}}
                   {{/each}}
               </div>
                <!-- todo: share on bottom -->
           </div>
           <!-- desktop devices -->
           <div class="row hidden-xs v-middle">
              <!-- left modules (base.js): post_upvote.html-->
               {{#each leftPostModules}}
                  {{> UI.dynamic template=getTemplate data=..}}
               {{/each}}
               <!-- centerPostmodules (base.js): post_content.html / post_title.html / post_meta.html / post_domain.html / post_admin.html -->
               {{#each centerPostModules}}
                     {{> UI.dynamic template=getTemplate data=..}}
               {{/each}}
               <!-- post_discuss.html -->
               {{#each rightPostModules}}
                    {{> UI.dynamic template=getTemplate data=..}}
               {{/each}}
              <!-- todo: share as popup -->
           </div>
        </article>
</template>
