<template name="postContent">
    <div class="col-sm-7 v-middle-child-col">
    <div class="post-heading">
      {{#each postHeading}}
        {{> UI.dynamic template=getTemplate data=..}}
      {{/each}}
    </div>
    <div class="post-meta">
      {{#each postMeta}}
        {{> UI.dynamic template=getTemplate data=..}}
      {{/each}}
    </div>
    </div>
    <div class="col-sm-2 v-middle-child-col">
    <div class="post-categories-label">
        {{#each postCategoriesLabel}}
          {{> UI.dynamic template=getTemplate data=..}}
        {{/each}}
    </div>
    </div>
</template>