<template name="postDiscuss">
    <div class="col-sm-1 v-middle-child-col">
        <a class="discuss-link go-to-comments" href="/posts/{{_id}}">
            <i class="icon glyphicon glyphicon-comment">
                <span class="comments-number font-text-small-white">{{comments}}</span>
            </i>
            <div>
                 <span class="comments-text font-text-small">{{i18n 'Discuss'}}</span>
            </div>
            <!--<span class="action"></span>-->
        </a>
    </div>
</template>